.header-container {
  height: 70px;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 70px;
  width: 150px;
}

@media screen and (max-width: 762px) {
  .logo {
    margin-left: 35px;
  }
}
